<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PostBoard</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
</head>
<body>
<div class="signup-wrapper">
    <h2>Signup</h2>
    <form th:action="@{/joinProc}" th:object="${requestDto}" method="post" id="signup-form">
        <input placeholder="아이디" type="text" th:field="*{username}" required>
        <input placeholder="비밀번호" type="password" th:field="*{password}" required>
        <input type="submit" value="회원가입">
        <a href="/">로그인하기</a>
    </form>
</div>
</body>
</html>